<form action="/users/new" method="post">
  <label for="">Name</label>
  <input type="text" name="name" id="name" />
  <label for="">Email</label>
  <input type="email" name="email" id="email" />
  <label for="">Phone</label>
  <input type="number" name="phone" id="phone" />
  <button type="submit">Create User</button>
</form>
