<header>
  <nav>
    <a href="/" class="main">Home</a>
    <ul class="nav-list">
      <li class="nav-item"><a href="/users" class="nav-links">users</a></li>
      <li class="nav-item"><a href="/users" class="nav-links">users</a></li>
      <li class="nav-item"><a href="/users" class="nav-links">users</a></li>
      <li class="nav-item"><a href="/users" class="nav-links">users</a></li>
    </ul>
  </nav>
</header>
