this is users' page.
<br />
<h2>Search User By Name</h2>
<%- include('../partials/_search_user.ejs') %>
<br />
user : <%- include('../partials/_user_list.ejs') %>
<br />
message: <%- include('../partials/msg.ejs') %>
<br />
<%- include('../partials/_user_form.ejs') %>
